{#
/**
* @file
* Template for the Flipster Styles.
*/
#}

<div id="views_flipster" class="{{ style }}">
<ul class="flip-items">
{% for row in rows %}
  <li>
   {{ row }}
  </li>
{% endfor %}
</ul>
</div>
